.masterMindPeg,
.masterMindHole {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.masterMindKeyPeg {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.masterMindHole {
  background-color: gray;
}